h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.headermessages {
  margin: 0.5rem auto;
}

.headerlink {
  background-color: #34eb8f;
  color:black;
  padding: 10px 10px;
  /* text-align: center; */
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  /* margin-right: 40px; */
  /* align-items: center; */
  /* position: relative;
  right: 20px;
  bottom: 15px; */
  margin: 10px 2rem;
}

.headertitle {
  position: relative;
  bottom: 20px;
}

.routinelink {
  background-color: #34eb8f;
  padding: 10px 10px;
  color: black;
  /* text-align: center; */
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  /* margin-right: 40px; */
  /* align-items: center; */
  /* position: relative;
  right: 20px;
  bottom: 15px; */
  margin: 10px 2rem;
}

header {
  padding: 60px;
  text-align: center;
  background: #116e5c;
  color: white;
  font-size: 30px;
  flex: none;
  /* position:fixed;
  left: 0;
  right: 0;
  top: 0; */
}

.logoutButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  background-color: #34eb8f;
  text-align: center;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
