@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:'Patrick Hand', cursive; 
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.my-activities{
  display: flex;
  flex-direction: column;
  height: 100%;
	width: 30%;
  border: 2px solid #34EB8F;
  border-radius: 1rem;
  margin: 30px 15px 30px 30px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); 
  
}

.activity-name-input{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #ebebeb;
color:white;
font-size:1.5rem;
font-family: 'Patrick Hand', cursive;
width: 100%;
padding: 0.5rem;
margin:0.5rem;
border-radius: 0.5rem;
}
.my-activity-description-area{
  display:flex;
  justify-content: space-around;
  background-color: #ebebeb;
  overflow: hidden;
  height: 100%;
  width: 95%;
  font-size: 1.5rem;
  font-family: 'Patrick Hand', cursive;
  margin:0.5rem;
  scroll-behavior: auto;
  padding:0.5rem;
  /* border-radius: 0.5rem;
  margin-top: 30rem;
  margin-bottom: 30rem; */
}
.my-activities-button{
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin:0.5rem;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  background-color: #34EB8F;
  text-align: center;
}
.my-activities-title{
  font-family: 'Patrick Hand', cursive;
  margin: 0.5;
  padding:0.5rem;
}

.activities {
  display: flex;
	height: 100%;
	width: 85%;
  /* border: 2px solid rgb(156, 221, 156);
  border-radius: 1rem; */
	margin: 30px 15px 30px 30px;
	/* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  margin: 3rem auto;
  scroll-behavior: auto;
}

.activities-title{
  margin:0.2rem;
  padding:0.2rem;
  text-align: center;
}
.card-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #34eb8f;
  box-shadow: 0px 5px 10px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
}

.card-activity-name{
  flex-direction: column;
  justify-content: space-around;
	margin: 0.3rem;
	display: flex;
  padding: 0.3rem;
}

.card-description {
  flex-direction: column;
  justify-content: space-around;
	margin: 0.2rem;
	display: flex;
  padding: 0.3rem;
}
.footer{
  flex: none; 
  background-color:#1abc9c; 
  position:fixed;
}